<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail_image_path(cocktail)%>');">
  <div class="card-category"></div>
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
    <p><%= link_to 'Show', cocktail %>
      <%= link_to 'Edit', edit_cocktail_path(cocktail) %>
      <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  </div>
